#title {
  background-color: #ff4c68;
  color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15%;
  padding-bottom: 0;
}

.fab {
  padding-right: 5px;
}

.fa-brands {
  padding-right: 5px;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.4rem;
  font-family: Montserrat;
}

/* Downlaod Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/*Title Image*/
.titleimg {
  width: 55%;
  transform: rotate(25deg);
  position: relative;
  left: 15%;
  top: 100px;
}

.titlerow {
  text-align: center;
  padding: 3% 15%;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: bold;
}

.textfeatures {
  color: #2E2E2E;
  font-size: 1.4rem;
}

.icon {
  padding-bottom: 25px;
  color: #ed8091;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ed8091;
  color: white;
  text-align: center;
}

#press {
  background-color: #ed8091;
  padding: 0 15% 2%;
  color: white;
  text-align: center;
}

.testimonials-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

h2 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.testimonials-em {
  font-size: 1.4rem;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 5% 15%;
  text-align: center;
  background-color: #fff;
}

.pricing-cards {
  padding: 3% 2%;
}

#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding-top: 3%;
  padding-bottom: 5%;
}

#cta {
  background-color: #ff4c68;
  padding: 4% 15%;
  text-align: center;
  color: white;
}

.ctarow {
  text-align: center;
  padding: 0 15%;
  font-family: 'Montserrat', sans-serif;
}

#footer {
  text-align: center;
  color: #2E2E2E;
  font-size: 1.0rem;
  padding-top: 2%;
}

.pfooter {
  padding: 5px 15%;
}

.socialmedia:hover {
  color: #ff4c68;
}

/* Media Queries */
@media screen and (max-width: 991px) {
  .titleimg {
    transform: rotate(0deg);
    position: static;
    margin-top: 3%;
    margin-bottom: 5%;
  }

  .mobile {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: bold;
  }

  .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.79rem;
    font-weight: bold;
  }

  .nav-link {
    font-size: 1.0rem;
    font-family: Montserrat;
  }

  .textfeatures {
    color: #2E2E2E;
    font-size: 1.0rem;
  }

  h2 {
    font-family: "Montserrat";
    font-size: 1.79rem;
    line-height: 1.5;
    font-weight: bold;
  }

  .testimonials-em {
    font-size: 1.0rem;
  }
}
